@font-face {
    font-family: Vertigo;
    src: url(VertigoPlusFLF.ttf);
}


@font-face {
    font-family: Airstrike;
    src: url(airstrikecond.ttf);
}
@font-face {
    font-family: Adventure;
    src: url(Adventure.ttf);
}

@font-face {
    font-family: VertigoBold;
    src: url(VertigoPlusFLF.ttf);
}
.luchtbal{
    max-width: 100%;
    margin: 0 auto;
    background: #FF7F50;
    display: block;
    font-size: 24px;
    opacity: 0.6;
    font-family: Airstrike, cursive;
    padding: 25px;
}

.Parallax{
    background: url("https://raw.githubusercontent.com/Beardificent/markdown-challenge/master/cis.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}


.header {
    padding: 60px;
    font-family: Airstrike, fantasy;
    text-align: center;
    display: block;
    background: #FF7F50;
    opacity:0.6;
    color: antiquewhite;
    font-size: 30px;
}

table {
    font-family: VertigoBold, cursive;
    font-size: 36px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #ff7f50;
opacity: 0.6;
}

.Parallax2{
    background: url("https://raw.githubusercontent.com/Beardificent/mrkdwn-warmup-css/master/photo.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.count{
    font-family: VertigoBold, cursive;
    font-size: 30px;
}

.counthead{
    font-family: Adventure, serif;
}
 .funny{
     display: inline-block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     width: 30%;
     height: 25%;
 }