@font-face {
    font-family: Vertigo;
    src: url(VertigoPlusFLF.ttf);
}


@font-face {
    font-family: Airstrike;
    src: url(airstrikecond.ttf);
}
@font-face {
    font-family: Adventure;
    src: url(Adventure.ttf);
}

@font-face {
    font-family: VertigoBold;
    src: url(VertigoPlusFLF.ttf);
}
.luchtbal{
    margin: 0 auto;
    background: rgb(143, 21, 208, 0.6);
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: Airstrike, cursive;
    color: goldenrod;
    padding: 5px;
}

.Parallax{
    background: url("https://raw.githubusercontent.com/Beardificent/markdown-challenge/master/cis.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}


.header {
    padding: 40px;
    font-family: Airstrike, fantasy;
    color: goldenrod;
    text-align: center;
    display: block;
    background: rgb(143, 21, 208, 0.6);
    font-size: 30px;
}

table {
    font-family: VertigoBold, cursive;
    font-size: 36px;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background: rgb(143, 21, 208, 0.6);

}

.Parallax2{
    background: url("https://raw.githubusercontent.com/Beardificent/mrkdwn-warmup-css/master/photo.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.count{
    font-family: VertigoBold, cursive;
    font-size: 30px;
}

.counthead{
    font-family: Adventure, serif;
}
 .funny{
     display: inline-block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     font-family: Adventure, monospace;
 }

 .TLDR{
     font-family: Airstrike, cursive;
     olor: goldenrod;
     text-align: center;
     display: block;
     background: rgb(143, 21, 208, 0.6);
     font-size: 30px;
 }

 .TLDRcontent{
     font-family: Adventure, sans-serif;
     color: black;
     display: inline-block;
     text-align: center;

 }


.left {
    float: left;
    font-family: Airstrike, fantasy;
    font-size: 25px;
}
.right {
    float: right;
    font-family: Airstrike, fantasy;
    font-size: 25;
}